var btoa = require("btoa");
var db,catconfPort,testConfiguration;

if (process.env.CATCONF_TEST !== undefined) {
    console.log('running with test configuration.');
    db = "catconf_test";
    catconfPort = 3001;
    testConfiguration = true;
} else {
    db = "catconf";
    catconfPort = 3000;
    testConfiguration = false;
}

exports.catconfUrl = 'http://localhost:' + catconfPort + '/';

exports.protocol = "http";
exports.host = "localhost";
exports.port = "5984";
exports.db = db;
exports.catconfPort = catconfPort;
exports.testConfiguration = testConfiguration;
exports.adminUser = "admin";
exports.adminPassword = "admin";
exports.authorization = "Basic " + btoa(exports.adminUser + ':' +
                                        exports.adminPassword);
exports.couchUrl = exports.protocol + "://" + exports.adminUser +
                    ':' + exports.adminPassword +
                    '@' + exports.host + ":" + exports.port;

exports.cookieSecret = 'secretsecret';

exports.authenticationModule = 'auth-catconf';

exports.crowdConfig = {
    "crowd": {
        "base": "https://crowd.kiwi.fi/crowd/"
    },
    "application": {
        "name": "myAppName",
        "password": "myAppPassword"
    },
    "cookieName": "crowd.token_key"
    
}



